# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/
target/
dependency-reduced-pom.xml
# Mac
.DS_Store
*.jar
*.wargit
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
.settings/
.classpath
.project
.metadata/
META-INF/
.idea/
logs/
spark-warehouse
