<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wy.dao.BookDao" >
    <resultMap id="bookMap" type="book">
        <result column="book_id" property="bookId"/>
        <result column="book_name" property="bookName"/>
        <result column="book_img" property="bookImg"/>
        <result column="book_tag" property="bookTag"/>
    </resultMap>
    <sql id="tb">
        book
    </sql>
    <sql id="cols_all">
        book_id,book_name,book_img,book_tag
    </sql>
    <sql id="dynamic_condition">
        <if test="bookId != null">AND book_id = #{bookId}</if>
        <if test="bookName != null">AND book_name = #{bookName}</if>
        <if test="bookImg != null">AND book_img = #{bookImg}</if>
        <if test="bookTag != null">AND book_tag = #{bookTag}</if>

    </sql>
    <select id="queryAll" parameterType="map" resultMap="bookMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE 1 = 1
        <include refid="dynamic_condition"/>
    </select>
</mapper>